.transition03 {
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}
.nav_item {
  flex-shrink: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0 20px;
  @extend .transition03;
  .nav_span {
      font-size: 14px;
      color: rgba(255, 255, 255, 0.75);
      @extend .transition03;
    }
  &:hover,
  &:active {
    background-color: #525f7e;
  }
}

